page-menuadd {
    ion-img{
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
    }

    ion-col{
        text-align: center !important;
    }

    
}
